<li class="collection-item">
  <div>
    <div>{{image.name}}</div>
    <div>cid: {{image.cid}}</div>
    <div>sid: {{image.sid}}</div>
    <div>uploading time: {{image.uploadingTime}} ms</div>
    <div>processing time: {{image.processingTime}} ms</div>
    <div>error: {{image.error}}</div>
    <a href="#!" class="secondary-content m-image-el-btn" data-cid="{{image.cid}}"><i class="material-icons">send</i></a>
  </div>
</li>